{#
 # This file is part of oc_snowtricks project
 #
 # @author: Sébastien CHOMY <sebastien.chomy@gmail.com>
 # @since 2018/03
 #
 #}
{% extends "layout.admin.html.twig" %}
{% trans_default_domain 'application' %}

{% block main %}
    {# STUB for content dashboard page #}
    <h1>Dashboard in built!</h1>
{% endblock main %}

{# up to main layout #}
{% block title %}{{ 'dashboard.title'|trans }}{% endblock title %}
{% block page %}dashboard{% endblock page %}
