{#
 # /**
 #  * This file is part of oc_snowtricks project
 #  *
 #  * @author: Sébastien CHOMY <sebastien.chomy@gmail.com>
 #  * @since 2018/02
 #  */
 #}
{% extends "layout.html.twig" %}
{% trans_default_domain 'application' %}

{% block main %}
    {# STUB for content homepage #}
<h1>Homepage in built!</h1>
{% endblock main %}

{# up to main layout #}
{% block title %}{{ 'homepage.title'|trans }}{% endblock title %}
{% block page %}homepage{% endblock page %}
