{#
 # This file is part of oc_snowtricks project
 #
 # @author: Sébastien CHOMY <sebastien.chomy@gmail.com>
 # @since 2018/04
 #}
{% extends 'layout.html.twig' %}

{% trans_default_domain 'application' %}
{% block main %}
    <div class="container">
        <h4>{{ 'category_edit.page_title'|trans }}</h4>
        <hr/>
        {{ include ('@OodBlog/Category/form_category.html.twig') }}
    </div>
{% endblock main %}

{% block title %}{{ 'category_edit.page_title'|trans }}{% endblock title %}
{% block page %}group-edit{% endblock page %}
