/*!
 * This file is part of oc_snowtricks project
 *
 * @author: Sébastien CHOMY <sebastien.chomy@gmail.com>
 * @since 2018/02
 * app.scss
 */
html {
  height: 100%;
}

body {
  display: grid;
  grid-template-rows: 56px 1fr 1px;
  grid-template-areas: "header" "main" "footer";
  min-height: 100%;
  width: 100%;
}

header {
  grid-area: header;
}

main {
  grid-area: main;
  min-height: 100%;
  > .i-container {
    height: 100%;
  }
}

footer {
  grid-row-start: 3;
  grid-row-end: 4;
  > .i-container {
    background-color: #343e40;
    > .container {
      padding: 15px;
      vertical-align: bottom;
    }
  }
  a {
    color: #343e40;
  }
}

:root {
  --input-padding-x: .75rem;
  --input-padding-y: .75rem;
}

/** *********************
 *  FORM
 */

.form-group,
.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-group > input,
.form-group > textarea,
.form-group > label {
  padding: var(--input-padding-y) var(--input-padding-x);
}

.form-group > label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0; /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}

.form-group input::placeholder,
.form-group textarea::placeholder {
  color: transparent;
}

.form-group input:not(:placeholder-shown),
.form-group textarea:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
  ~ label {
    padding-top: calc(var(--input-padding-y) / 3);
    padding-bottom: calc(var(--input-padding-y) / 3);
    font-size: 12px;
    color: #777777;
  }
}

/** *********************
 * Steps
 */
.steps {
  background-color: #ffffff;
  border-radius: 4px;
  > .step {
    border-bottom: 1px solid rgba(34, 36, 38, 0.15);
    color: #cdcdcd;
    padding: 16px 28px 16px 28px;
    > .ordered {
      font-size: 1.4rem;
      padding-right: 0.5em;
    }
    &.active {
      color: #2e6da4;
    }
  }
}

/** *********************
 *  Login / Register page
 */
.v-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.form-signin {
  width: 100%;
  max-width: 420px;
  padding: 15px;
  margin: 0 auto;
}

/** ********************
 *   SECTION HEAD
 */
section#head {
  position: relative;
  height: 30vw;
  background-color: #afafaf;
  // Image
  > img {
    background-origin: border-box;
    background-position: center center;
    background-size: cover;
    height: 100%;
    width: 100%;
  }
  // block actions
  > div.actions {
    position: absolute;
    top: 1vw;
    right: 1vw;
    z-index: 1000;
  }
  // Block titles
  > div.titles {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    > h3 {
      background-color: rgba(255, 255, 255, 0.5);
      padding: 0.8rem 1.2rem;
      border-radius: 8px;
    }
  }
}

/** ********************
 *   SECTION FIGURES
 */
section#figures {
  margin-top: 2rem;
}
/** ********************
 *   SECTION MEDIAS
 */
section#medias {
  margin-top: 2rem;
  > .wrapper {
    margin-left: auto;
    margin-right: auto;
  }
}

/** ********************
 *   SECTION CONTENT
 */
section#content {
  margin-top: 2rem;
}

/** ********************
 *   SECTION COMMENT
 */
section#comments {
  margin-top: 2rem;
}

/** ********************
 *   SECTION FORM
 */
section#form {
  margin-top: 2rem;
}

/** ********************
 *   card
 */
.st_card {
  position: relative;
  background-color: #ffffff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, .2);
  border-radius: 2px;
  width: 18rem;
  height: 12rem;
  margin: 0.5rem;
  padding: 0.25rem;
  display: flex;
  flex-direction: column;
  .form-group {
    margin-bottom: 0;
  }
  > .trash {
    position: absolute;
    top: 1vw;
    right: 1vw;
  }
  img {
    max-height: 11.5rem;
    margin-left: auto;
    margin-right: auto;
  }
}

/** ********************
 *   card (groups)
 */
#cards .card {
  width: 18rem;
  height: 12rem;
  margin: 0.5rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, .2);
  position: relative;
  > .footer {
    border-top: 1px solid #c4c4c4;
    &:hover {
      background-color: #c4c4c4;
    }
  }
  p.card-text {
    height: 4rem;
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
  }
  a {
    color: #495057;
    display: block;
    width: 100%;
    margin: 0.25rem;
  }
  .actions {
    position: absolute;
    top: 1vw;
    right: 1vw;
  }
}

/** ***********************************
 *   UPLOAD
 */
.input_file-container {
  position: absolute;
  bottom: 0.1rem;
  left: 0.25rem;
  right: 0.25rem;
  .input_file {
    height: 40px;
    line-height: 40px;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    cursor: pointer;
  }
  .input_file-trigger {
    margin-bottom: 0;
    padding-top: 2px;
    padding-bottom: 2px;
    height: 40px;
    line-height: 40px;
    display: block;
    background: #6c757d;
    color: #ffffff;
    font-size: 1em;
    text-align: center;
    transition: all .4s;
    cursor: pointer;
    > i {
      margin-right: 5px;
    }
    &:hover {
      background-color: #34495e;
      color: #39d2b4;
    }
  }
}

/** ***********************************
 *   infinite scroll
 */
#infiniteScroll {
  > a {
    display: inline-block;
    text-decoration: none;
    > span {
      display: inline-block;
      vertical-align: middle;
    }
  }
}

/** ***********************************
 *   Comment
 */
.comment {
  margin-bottom: 1.5rem;
  > .content {
    display: block;
  }
  > .avatar {
    display: block;
    width: 2.5rem;
    height: auto;
    float: left;
    margin: .2rem 0 0 0;
    border-radius: 0.25rem;
    img, img.avatar {
      display: block;
      margin: 0 auto 0 auto;
      width: 100%;
      height: 100%;
    }
    & ~ .content {
      margin-left: 3.5rem;
    }
  }
}

/** ***********************************
 *   segment block
 */
.segment {
  padding: 1em 1.5em;
  background-color: #ffffff;
  border-top: 2px solid #2185d0;
  box-shadow: 0 2px 4px 0 rgba(34, 36, 38, 0.12);
}

/** ***********************************
 *  PAGE ADMIN USERS
 */
#page-admin_users {
  .table-actions {
    width: 128px;
  }
}

/** ***********************************
 *  PAGE ADMIN USERS
 */
#page-admin_comments {
  .table-actions {
    width: 128px;
  }
}

/** ***********************************
 *   PAGE FIGURES posts list
 */
#page-figures {
  section {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-rows: 1fr 70px;
    grid-template-areas: 'content' 'gutter';
    > .content {
      grid-area: content;
    }
    > .gutter {
      grid-area: gutter;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding-right: 1rem;
    }
    a {
      color: #343a40;
    }
  }

  section#head {
    background: url("../images/wintry.jpg") no-repeat;
    background-color: #cdcdcd;
    background-origin: border-box;
    background-position: center center;
    background-size: cover;
    height: 100%;
    h2 {
      font-family: 'Lobster', cursive;
      font-size: 4rem;
      color: chocolate;
    }
  }

  #nav-up {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 1030;
    padding-right: 1rem;
    padding-bottom: 1rem;
  }

  // Override
  .st_card {
    img {
      max-height: 9rem;
    }
  }
}

/** ***********************************
 *   PAGE Profile edit
 */
#profile {
  .photo {
    position: relative;
    // TODO verru
    .input_file-container {
      left: 1.25rem;
      right: 1.25rem;
      bottom: 1.25rem;
      .form-group {
        margin-bottom: 0;
      }
    }
  }
}

/** ***********************************
 *  PAGE Resetting
 */
#page-resetting {
  main {
    background-color: #f7f7f7;
  }
  .segment {
    max-width: 360px;
  }
}

/** ***********************************
 *  PAGE Registration
 */
#page-registration {
  main {
    background-color: #f7f7f7;
  }
}
